# Data Cleaning Concepts in Pandas with Examples

### Data cleaning is a crucial step in data analysis. Pandas provides powerful tools to handle missing values, correct data formats, remove duplicates, and more. Hereâ€™s a breakdown of key concepts with examples:

## 1. Handling Missing Data

### a. Identifying Missing Data

#### isnull() / notnull(): Detect missing values (NaN).

In [ ]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', None], 'Age': [25, None, 30]}
df = pd.DataFrame(data)

print(df.isnull())  # Shows True where data is missing

In [ ]:
df.notnull()

### The above is how to detect values  in dataset

## b. Removing Missing Data

#### dropna(): Removes rows or columns with missing values.

In [ ]:
df_cleaned = df.dropna()  # Drops rows with any NaN

## c. Filling Missing Data

### fillna(): Replace missing values with a specific value.

In [ ]:
df_filled = df.fillna({'Name': 'Unknown', 'Age': df['Age'].mean()})

In [ ]:
df_filled.isnull()

In [ ]:
df_filled.notnull()

# 2. Removing Duplicates

## a. Identifying Duplicates

### duplicated(): Returns True for duplicate rows.

In [ ]:
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Alice'], 'Age': [25, 30, 25]})
print(df.duplicated())

## b. Removing Duplicates

### drop_duplicates(): Removes duplicate rows.

In [ ]:
df_unique = df.drop_duplicates()

# 3. Data Type Conversion

### a. Checking Data Types

#### dtypes: View data types of columns

In [ ]:
print(df.dtypes)

### b. Converting Data Types

### astype(): Convert column data types.

In [ ]:
df['Age'] = df['Age'].astype(float)  # Convert Age to float

# 4. Renaming Columns and Indexes

### a. Renaming Columns

### rename(): Change column names.

In [ ]:
df = df.rename(columns={'Name': 'Full Name', 'Age': 'Years'})

In [ ]:
df

# 5. String Operations

### a. Removing Whitespace

### str.strip(): Remove leading/trailing spaces

In [ ]:
df['Full Name'] = df['Full Name'].str.strip()

In [ ]:
df

# b. Changing Case

### str.lower() / str.upper(): Convert to lower/upper case.

In [ ]:
df['Full Name'] = df['Full Name'].str.lower()

In [ ]:
df

In [ ]:
df['Full Name'] = df['Full Name'].str.upper()

In [ ]:
df

# c. Replacing Substrings

### str.replace(): Replace parts of strings.

In [ ]:
df['Full Name'] = df['Full Name'].str.replace('alice', 'Alicia')

In [ ]:
df

# 6. Filtering Data

### a. Conditional Filtering

### Use conditions to filter rows.

In [ ]:
df_filtered = df[df['df_filtered = df.query('Years > 25')
Years'] > 25]  # Filter rows where Age > 25

### b. Using query()

In [ ]:
df_filtered = df.query('Years > 25')

# 7. Handling Outliers
### a. Using Z-Score or IQR
#### Remove outliers based on statistical methods.

In [ ]:
from scipy import stats
df_no_outliers = df[(np.abs(stats.zscore(df['Years'])) < 3)]

# 8. Replacing Values

### a. Replace Specific Values

### replace(): Substitute specific values

In [ ]:
df['Years'] = df['Years'].replace(30, 29)  # Replace 30 with 29

# 9. Merging and Joining DataFrames
## a. Merging DataFrames
## merge(): Combine two DataFrames based on a key.

In [ ]:
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [1, 2], 'Age': [25, 30]})
df_merged = pd.merge(df1, df2, on='ID')

# 10. Resetting and Setting Index
### 10. a. Reset Index

In [ ]:
df_reset = df.reset_index(drop=True)

### b. Set Index

### set_index(): Set a specific column as the index.

In [ ]:
df_indexed = df.set_index('Full Name')

# 11. Sorting Data
## a. Sorting by Column

## sort_values(): Sort DataFrame by column.

In [ ]:
df_sorted = df.sort_values(by='Years', ascending=False)

## b. Sorting by Index

#### sort_index(): Sort DataFrame by index.

In [ ]:
df_sorted_index = df.sort_index()

# 12. Applying Functions

## a. Applying Functions to Columns

#### apply(): Apply custom functions to columns.

In [ ]:
df['Years'] = df['Years'].apply(lambda x: x + 1)  # Increase Age by 1

# 13. Grouping Data

### a. Grouping by Column

### groupby(): Aggregate data based on column values.

In [ ]:
df_grouped = df.groupby('Years').count()

### 14. Pivot Tables
### a. Creating Pivot Tables


### pivot_table(): Summarize data in a tabular format.
### python
### Copy
### Edit

In [ ]:

df_pivot = df.pivot_table(values='Years', index='Full Name', aggfunc='mean')

# 15. Exporting and Importing Data

### a. Reading Data

### read_csv(): Load data from a CSV file.

In [ ]:
df = pd.read_csv('data.csv')

### b. Exporting Data

### to_csv(): Save DataFrame to CSV.

In [ ]:
df.to_csv('cleaned_data.csv', index=False)